<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MyApp{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock%}
  </head>
  <body>
    <header>
      {% include "_nav.html"%}
      {% block header%}{% endblock %}
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      {%block footer%}@ 2025 MyApp{% endblock %}
    </footer>

    {%block scripts %}{% endblock %}
  </body>
</html>
