{% extends "base.html" %}

{% block title %}ホーム - MyApp{% endblock %}

{% block content %}
  <h2>ようこそ</h2>
  <p>これはサンプルのトップページです。</p>
  {% with messages = get_flashed_messages()%}
  {%if messages%}
  <ul class="errors">
    {% for msg in messages%}
    <li>{{msg}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  
  <form action="{{ url_for('submit') }}" method="post">
    <label for="text">テキスト</label><br>
    <input id="text" name="text" type="text" placeholder="何か入力"><br>
    <button type="submit">送信</button>
  </form>
{% endblock %}